body {
  font-family: $font-family-inter-Regular;
  color: $azul-oscuro-navegacion !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-jost-Bold;
  }

  strong {
    font-family: $font-family-inter-Bold;
  }

  p {
    color: $color-gris !important;
  }
}
