.doc-info {
  .banner {
    img {
      width: 100%;
      height: auto;
    }
    .dsk {
      @include media(mobile) {
        display: none;
      }
    }

    .mbl {
      display: none;
      @include media(mobile) {
        display: block;
      }
    }
  }

  .block-1 {
    width: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include media(mobile) {
      padding: 60px 20px;
    }

    .general-content {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: center;
      gap: 86px;

      @include media(mobile) {
        flex-direction: column;
        width: 100%;
        gap: 10px;
      }

      .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include media(mobile) {
          width: 100%;
        }
        span {
          font-size: 30px;
        }
        img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .block-2 {
    background: $fondo-gris;
    padding: 100px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media(mobile) {
      padding: 60px 20px;
    }

    .general-content {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: center;
      gap: 40px;
      flex-direction: column;

      @include media(mobile) {
        width: 100%;
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-gris;
        margin-bottom: 70px;

        @include media(mobile) {
          margin-bottom: 20px;
        }

        span {
          font-size: 30px;
        }
      }
      .imagen-texto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;

        @include media(mobile) {
          flex-direction: column;
        }
        img {
          width: 45%;

          @include media(mobile) {
            width: 100%;
          }
        }
        .info {
          align-items: flex-start;
          width: 45%;

          @include media(mobile) {
            width: 100%;
            h4 {
              width: 100%;
            }
          }
        }
      }

      .texto-imagen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;

        @include media(mobile) {
          flex-direction: column-reverse;
          gap: 60px;
        }
        img {
          width: 45%;

          @include media(mobile) {
            width: 100%;
          }
        }
        .info {
          align-items: flex-start;
          width: 45%;

          @include media(mobile) {
            width: 100%;
            h4 {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .block-3 {
    padding: 100px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(mobile) {
      padding: 60px 20px;
    }

    .general-content {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: center;
      gap: 40px;
      flex-direction: column;

      @include media(mobile) {
        width: 100%;
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        p {
          width: 800px;
          text-align: center;

          @include media(mobile) {
            width: 100%;
          }
        }
        span {
          font-size: 30px;
        }
      }
    }
  }
  .collage {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }

    .dsk {
      @include media(mobile) {
        display: none;
      }
    }
    .mbl {
      display: none;
      @include media(mobile) {
        display: block;
      }
    }
  }
}
.code-container {
  background-color: $azul-fondo-banner;
  margin: 0 !important;

  padding: 100px 60px 10px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  @include media(mobile) {
    padding: 60px 30px 10px;
  }

  .language-cpp {
    border-radius: 15px;
    margin: 40px 0 100px !important;
    width: 700px;
    height: 550px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    @include media(mobile) {
      width: 100%;
      margin-bottom: 30px !important;
    }
  }
  h1 {
    text-align: center;
    color: $color-amarillo-accesibilidad;
  }
}
pre {
  margin: 0;
  white-space: pre-wrap;
  overflow-x: auto; /* Agrega barras de desplazamiento horizontal si es necesario */
}
