.banner-base {
  img {
    display: flex;
    width: 100%;
    height: auto;
  }
}
.info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .b-2 {
    display: flex;
    width: 100%;
    background: $azul-navegacion;
    justify-content: center;
    p {
      color: $letra-gris !important;
    }
  }
  .strong {
    strong {
      color: $color-blanco !important;
    }
  }
  .block-1 {
    margin: 50px 0;
    height: 100%;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 60px 20px;
    width: 100%;
    max-width: 1150px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;

    .text {
      h2 {
        color: $azul-head !important;
        margin-bottom: 25px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
    }
    .img {
      img {
        height: 350px;
      }
    }
  }

  .block-2 {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
      justify-content: center;
      width: 100%;
      max-width: 1500px;
      width: 100%;
      padding: 90px 20px 20px;
      display: flex;
      gap: 30px;
      .e-card {
        border-top: 8px solid $rosado-cards;
        text-align: center;
        display: grid;
        justify-items: center;
        max-width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        width: fit-content;
        padding: 20px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        background: $color-blanco;

        @media (min-width: 1200px) and (max-width: 1366px) {
          max-width: 250px;
        }

        img {
          margin-bottom: 20px;
          width: 80px;
        }
        h4 {
          margin-bottom: 20px;
          color: $rosado-cards;
        }
      }
    }
  }
  .block-3 {
    width: 100%;
    width: 100%;
    padding: 90px 20px 100px;
    display: flex;
    gap: 30px;
    background: $fondo-gris;
    justify-content: center;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1500px;

      .integrants {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 90px;

        .person {
          width: calc(22% - 8px);
          height: auto;
          flex-direction: column;
          display: flex;
          align-items: center;

          @include media(desktopXXL) {
            width: calc(15% - 8px);
          }

          img {
            margin-bottom: 20px;
            width: 100%;
          }
        }
      }
    }
  }
}
