@font-face {
  font-family: $font-family-inter-Regular;
  src: url(../font/Inter-Regular.ttf);
}

@font-face {
  font-family: $font-family-inter-Bold;
  src: url(../font/Inter-Bold.ttf);
}

@font-face {
  font-family: $font-family-jost-Bold;
  src: url(../font/Jost-ExtraBold.ttf);
}
