/* BREAKPOINTS PARA LAS MEDIA QUERYS */
$breakpoint-fin-mobile: 767px;
$breakpoint-inicio-tablet: 768px;
$breakpoint-fin-tablet: 991px;
$breakpoint-desktop: 992px;
$breakpoint-desktopXL: 1200px;
$breakpoint-desktopXXL: 1400px;

/* FONT FAMILY´S */
$font-family-inter-Regular: "Inter-Regular";
$font-family-inter-Bold: "Inter-Bold";

// letras
$color-blanco: #fff;
$color-amarillo: #cea026;
$color-inactivo: #bbbbbb;
$color-gris: #4b4b4b;
$azul-letra: #0c406f;
// fondos
$azul-navegacion: #324a5e;
$azul-oscuro-navegacion: #0f202f;
